extends ../templates/main


include ../../components/_ui/button/button
include ../../components/_ui/input/input
include ../../components/_ui/checkbox/checkbox
include ../../components/_ui/radio/radio

block variables
	- const title = 'Главная'
	- const description = 'Описание главной страницы'

block content
	.container
		.row.gy-3
			.col-md-6 ldada
			.col-md-6 ldada
			.col-md-12 dadaadadd


